*{
	box-sizing:border-box;
}

.hero{
     height:100vh;
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(style/5.jpg);
     background-position:center;
     background-size:cover;
     background-repeat:no-repeat;
}